In [1]:
import numpy as np
from scipy import stats
import pandas as pd
df = pd.read_csv('WRA Raw Data10042024.csv')
df

FileNotFoundError: [Errno 2] No such file or directory: 'WRA Raw Data10042024.csv'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 758 entries, 0 to 757
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PERIOD                758 non-null    object
 1   id                    758 non-null    object
 2   endfacility           758 non-null    int64
 3   Arm                   758 non-null    object
 4   1. age                758 non-null    int64
 5   2. education          758 non-null    int64
 6   3. religion           758 non-null    int64
 7   4. marital            758 non-null    int64
 8   5. occupation         758 non-null    object
 9   Risk_Score (%)        758 non-null    object
 10  Sign_Score (%)        758 non-null    object
 11  Screening_Score (%)   758 non-null    object
 12  Post_Total score (%)  758 non-null    object
 13  Unnamed: 13           0 non-null      float64
dtypes: float64(1), int64(5), object(8)
memory usage: 83.0+ KB

In [ ]:
#Rename variables
# Risk_Score (%)
# Sign_Score (%)
# Screening_Score
# Post_Total score (%)
df = df.rename(columns = {'Risk_Score (%)': 'RiskScore','Sign_Score (%)':'SignScore','Screening_Score (%)': 'ScreeningScore','Post_Total score (%)':'PostTotalScore'})

In [ ]:
df.head()

,PERIOD,id,endfacility,Arm,1. age,2. education,3. religion,4. marital,5. occupation,RiskScore,SignScore,ScreeningScore,PostTotalScore,Unnamed: 13
0,POST,EN-124,8,C,31,2,1,2,3,50.00%,33.33%,33.33%,38.89%,NaN
1,POST,EN-067,5,C,33,2,1,2,3,50.00%,33.33%,33.33%,38.89%,NaN
2,POST,EN-095,5,C,28,2,1,2,1,12.50%,0.00%,6.67%,6.39%,NaN
3,POST,EN-125,8,C,25,1,1,1,3,12.50%,0.00%,20.00%,10.83%,NaN
4,POST,EN-169,7,C,21,2,1,1,6,12.50%,25.00%,0.00%,12.50%,NaN

In [ ]:
# Convert string object (percentages) to float
df['RiskScore'] = df['RiskScore'].str.rstrip('%').astype(float)
df['SignScore'] = df['SignScore'].str.rstrip('%').astype(float)
df['ScreeningScore'] = df['ScreeningScore'].str.rstrip('%').astype(float)
df['PostTotalScore'] = df['PostTotalScore'].str.rstrip('%').astype(float)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 758 entries, 0 to 757
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PERIOD          758 non-null    object
 1   id              758 non-null    object
 2   endfacility     758 non-null    int64
 3   Arm             758 non-null    object
 4   1. age          758 non-null    int64
 5   2. education    758 non-null    int64
 6   3. religion     758 non-null    int64
 7   4. marital      758 non-null    int64
 8   5. occupation   758 non-null    object
 9   RiskScore       758 non-null    float64
 10  SignScore       758 non-null    float64
 11  ScreeningScore  758 non-null    float64
 12  PostTotalScore  758 non-null    float64
 13  Unnamed: 13     0 non-null      float64
dtypes: float64(5), int64(5), object(4)
memory usage: 83.0+ KB

In [ ]:
df.head()

,PERIOD,id,endfacility,Arm,1. age,2. education,3. religion,4. marital,5. occupation,RiskScore,SignScore,ScreeningScore,PostTotalScore,Unnamed: 13
0,POST,EN-124,8,C,31,2,1,2,3,50.0,33.33,33.33,38.89,NaN
1,POST,EN-067,5,C,33,2,1,2,3,50.0,33.33,33.33,38.89,NaN
2,POST,EN-095,5,C,28,2,1,2,1,12.5,0.00,6.67,6.39,NaN
3,POST,EN-125,8,C,25,1,1,1,3,12.5,0.00,20.00,10.83,NaN
4,POST,EN-169,7,C,21,2,1,1,6,12.5,25.00,0.00,12.50,NaN

In [ ]:
#Determine the mean, median and p-value of the mentioned variables using arm variable
df1 = pd.crosstab(df['Arm'], df['RiskScore']).mean()
print(df1)

RiskScore
0.0     139.5
12.5     92.5
25.0     41.0
37.5     70.0
50.0     25.5
62.5      6.5
75.0      3.5
87.5      0.5
dtype: float64

In [ ]:
df.groupby('Arm')['RiskScore'].mean()

Arm
C    22.552910
I    13.322368
Name: RiskScore, dtype: float64

In [ ]:
#Groupby to get the mean
df.groupby(by=['Arm'], dropna=False).sum()

,PERIOD,id,endfacility,1. age,2. education,3. religion,4. marital,5. occupation,RiskScore,SignScore,ScreeningScore,PostTotalScore,Unnamed: 13
Arm,,,,,,,,,,,,,
C,POSTPOSTPOSTPOSTPOSTPOSTPOSTPOSTPOSTPOSTPOSTPO...,EN-124EN-067EN-095EN-125EN-169EN-111EN-080EN-1...,1952,12002,826,382,732,331361516334433511 311 323331331 3536141311432...,8525.0,6583.17,8300.02,7802.82,0.0
I,POSTPOSTPOSTPOSTPOSTPOSTPOSTPOSTPOSTPOSTPOSTPO...,EN-223EN-379EN-232EN-238EN-179EN-370EN-227EN-3...,5004,11850,711,384,745,5451633311131154335134335313333311356133313311...,5062.5,4208.24,6820.01,5363.51,0.0

In [ ]:
# Groupby to allow similar aggregations. Get the # mean, std, min, max
df = df.groupby(['Arm'])[['RiskScore', 'SignScore', 'ScreeningScore','PostTotalScore']].aggregate(['mean', 'std','min','max'])
df

     RiskScore                        SignScore                         \
          mean        std  min   max       mean        std  min    max
Arm
C    22.552910  20.271626  0.0  87.5  17.415794  15.070004  0.0  83.33
I    13.322368  15.212805  0.0  62.5  11.074316  15.562836  0.0  66.67

    ScreeningScore                        PostTotalScore                   \
              mean        std  min    max           mean        std   min
Arm
C        21.957725  16.018038  0.0  66.67      20.642381  14.517003  0.00
I        17.947395  15.087111  0.0  66.67      14.114500  12.297255  2.22


       max
Arm
C    79.17
I    57.50

In [ ]:
df.describe(include='all')

       RiskScore                            SignScore                  \
            mean        std  min       max       mean        std  min
count   2.000000   2.000000  2.0   2.00000   2.000000   2.000000  2.0
mean   17.937639  17.742216  0.0  75.00000  14.245055  15.316420  0.0
std     6.526979   3.577127  0.0  17.67767   4.484102   0.348485  0.0
min    13.322368  15.212805  0.0  62.50000  11.074316  15.070004  0.0
25%    15.630004  16.477511  0.0  68.75000  12.659685  15.193212  0.0
50%    17.937639  17.742216  0.0  75.00000  14.245055  15.316420  0.0
75%    20.245275  19.006921  0.0  81.25000  15.830424  15.439628  0.0
max    22.552910  20.271626  0.0  87.50000  17.415794  15.562836  0.0

                 ScreeningScore                        PostTotalScore  \
             max           mean        std  min    max           mean
count   2.000000       2.000000   2.000000  2.0   2.00       2.000000
mean   75.000000      19.952560  15.552574  0.0  66.67      17.378440
std    11.780399       2.835732   0.658265  0.0   0.00       4.615909
min    66.670000      17.947395  15.087111  0.0  66.67      14.114500
25%    70.835000      18.949977  15.319843  0.0  66.67      15.746470
50%    75.000000      19.952560  15.552574  0.0  66.67      17.378440
75%    79.165000      20.955142  15.785306  0.0  66.67      19.010411
max    83.330000      21.957725  16.018038  0.0  66.67      20.642381


             std       min        max
count   2.000000  2.000000   2.000000
mean   13.407129  1.110000  68.335000
std     1.569599  1.569777  15.323004
min    12.297255  0.000000  57.500000
25%    12.852192  0.555000  62.917500
50%    13.407129  1.110000  68.335000
75%    13.962066  1.665000  73.752500
max    14.517003  2.220000  79.170000

In [ ]:
df[['SignScore','RiskScore']].describe()

       SignScore                             RiskScore                  \
            mean        std  min        max       mean        std  min
count   2.000000   2.000000  2.0   2.000000   2.000000   2.000000  2.0
mean   14.245055  15.316420  0.0  75.000000  17.937639  17.742216  0.0
std     4.484102   0.348485  0.0  11.780399   6.526979   3.577127  0.0
min    11.074316  15.070004  0.0  66.670000  13.322368  15.212805  0.0
25%    12.659685  15.193212  0.0  70.835000  15.630004  16.477511  0.0
50%    14.245055  15.316420  0.0  75.000000  17.937639  17.742216  0.0
75%    15.830424  15.439628  0.0  79.165000  20.245275  19.006921  0.0
max    17.415794  15.562836  0.0  83.330000  22.552910  20.271626  0.0


            max
count   2.00000
mean   75.00000
std    17.67767
min    62.50000
25%    68.75000
50%    75.00000
75%    81.25000
max    87.50000

In [ ]:
# Perform one sample t-test
t_stat

NameError: name 't_stat' is not defined